nav {
    width: 1280px;
    margin: 0auto;
}

.box_layot {
    width: 1280px;
    margin: 0auto;
}

img {
    width: 100%;
}

.logo {
    width: 78.08px;
    height: 28.49px;
}

.

.nav_items ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

.btn {
    width: 102px;
    height: 51px;
    border: 1px solid #6c63ff;
    border: radius 2px;
    background-color: transparent;
    font font-weight: 700;
    font-size 14px;
    color: #6c63ff;
}

    .btn.full {
        background-color: #6c63ff;
        color: white;
    }

    .col-6 {
        width: 45%;
    }

    .header {
        font-weight: 700;
        font-size: 86px;
        line-height: 88px;
        letter-spacing: -1px;
        color: #2f2e41;

    }

    .paragraph {
        Font size: 20px;
        Line height: 34px;
        color: #9893A3;
    }